<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> stopped the sign up</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
    </ul>
  </div>
<% end %>

  <div class="form">
    <%= f.label :name %></br>
    <%= f.text_field :name, placeholder: "Enter your name" %>
  </div>

  <div class="form">
    <%= f.label :email %></br>
    <%= f.text_field :email, placeholder: "Enter your email address" %>
  </div>

  <div class="form">
    <%= f.label :address %></br>
    <%= f.text_field :address, placeholder: "Enter your street address" %>
  </div>

  <!-- <div class="field">
    <%= f.label :password %></br>
    <%= f.password_field :password, placeholder: "Enter your password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %></br>
    <%= f.password_field :password_confirmation, placeholder: "Enter your password again" %>
  </div> -->

<p>Are you a trainer?</p>
  <div class="check_box">
    <%= f.check_box :trainer %>
  </div>

  <div class="submit"></br>
    <%= submit_tag "Submit" %>
  </div><br>
<% end %>
