<!DOCTYPE html>
<html>
  <body>
    <h4> Your upcoming training events: </h4>
    <div class="divider"></div>
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
      <% if @user.trainer == true %>
        <% @user.trainer_appointments.each do |e| %>
          <% if Time.at(e.event_end_time) < Time.now %>
            <% e.destroy %>
          <% else %>
          <ul>
            <%= link_to "#{e.summary}", "/users/#{@user.id}/appointments/#{e.id}" %>:
            <%= Time.at(e.event_start_time).strftime("%A %d/%m/%Y %T") %> to
            <%= Time.at(e.event_end_time).strftime("%A %d/%m/%Y %T") %>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col l3 s12">
        <%= form_for @user do |f| %>
          <ul>
          <%= f.fields_for :trainer_appointments do |app_form| %>
            <%= app_form.check_box :_destroy %>
            <%= app_form.label :_destroy %>
            </br>
          <% end %>
          </ul>
          <% if @user.trainee_appointments != [] %>
          <div class="sub-cancel_button center-align">
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Delete Events
              <i class="material-icons right">send</i>
            </button>
          </div>
          <% end %>
        <% end %>
      <% else %>
        <% @user.trainee_appointments.each do |e| %>
          <% if Time.at(e.event_end_time) < Time.now %>
            <% e.destroy %>
          <% else %>
          <ul>
            <%= link_to "#{e.summary}", "/users/#{@user.id}/appointments/#{e.id}" %>:
            <%= Time.at(e.event_start_time).strftime("%A %d/%m/%Y %T") %> to
            <%= Time.at(e.event_end_time).strftime("%A %d/%m/%Y %T") %>
          <% end %>
          </ul>
        <% end %>
        <%= form_for @user do |f| %>
          <ul>
          <%= f.fields_for :trainee_appointments do |app_form| %>
            <%= app_form.check_box :_destroy %>
            <%= app_form.label :_destroy %>
          <% end %>
          </ul>
          <% if @user.trainee_appointments != [] %>
          <div class="sub-cancel_button center-align">
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Delete Events
              <i class="material-icons right">send</i>
            </button>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
