<!-- Materialize Card Layout -->
<!-- Card 1 Profile -->
<div class="container">
  <div class="row">
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <%= image_tag "identity.png" %></br>
          <span class="card-title">Profile</span>
            <div class="user_profile">
              <div class="user_info">
                <p>User name: <div class="display"><%= @user.name %></div></p>
                <p>Email address: <div class="display"><%= @user.email %></div></p>
                <p>Street address: <div class="display"><%= @user.address %></div></p></br>
              </div>
            </div>
          <div class="card-action">
          <% if current_user == @user %>
            <p class="edit_link"><%= link_to "Edit your profile", "/users/#{@user.id}/edit" %></p></br>
          <% end %>
          <% if current_user == @user && current_user.trainer == true %>
            <p class="edit_link"><%= link_to "Choose your training categories!", "/users/#{@user.id}/categories/#{@user.category.id}/edit" %></p>
          <% end %>
          <% if current_user != @user %>
            <%= @user.bio %>
          <% end %>
          </div>
        </div>
     </div>
   </div>
<!-- Card 2 Bio-->
<div class="col m6 s12">
  <div class="card orange darker-1">
    <div class="card-content white-text">
      <i class="medium mdi-action-description"></i></br>
      <span class="card-title">Training Categories</span>
        <% @user.category.attributes.each do |key, value| %>
          <% if value == true %>
            <div class="title"><%= "#{key.capitalize.split('_').join("")}" %></div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div></br>
