<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@user.errors.count, "error") %> error uccurred! Please Try again!</h4>
    <ul class="error_msg">
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
    </ul>
  </div>
<% end %>

<div class="form_container">
  <div class="form">
  <%= f.label :name %></br>
  <%= f.text_field :name, placeholder: "Enter your name" %>
  </div><br>

  <div class="form">
    <%= f.label :email %></br>
    <%= f.text_field :email, placeholder: "Enter your email address" %>
  </div><br>

  <div class="form">
    <%= f.label :address %></br>
    <%= f.text_field :address, placeholder: "Enter your street address" %>
  </div>

  <div class="form">
    <label for="textarea1">Tell us who you are, 200 words or less:</label>
    <textarea id="textarea1" class="materialize-textarea"></textarea></br>
  </div>

  <div class="sub-cancel_button center-align">
    <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

    <div class="btn waves-effect waves-light red white-text"></a>
      <%= link_to "Cancel", users_url(@user) %>
      <% end %>
    </div>
  </div>
</div>
