<div class="parallax-container">
  <div class="parallax"><%= image_tag("O7MF4F0.jpg")%></div>
    <div class="container">
      <div class="row">
        <div class="col l10 offset-l1 white-text">
          <h1>Find a trainer in your area</h1></br>
            <div class="search_bar">
              <%= form_tag(users_url, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "BY NAME, CATEGORY OR ADDRESS", required: true %>
                <div class="waves-effect waves-light orange lighten-1 btn">Submit</a></br>
                  <%= submit_tag "Search" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<h3>Trainer Index:</h3>

<div class="trainer_count">
  <p><%= @user.where(:trainer => true).count %> Trainers found!</p>
</div>

  <div class="trainer_list">
    <% @user.each do |t|%>
      <% if t.trainer == true %>
        <h4><%=link_to "#{t.name}", "/users/#{t.id}" %></h4>
      <% end %>
    <% end %>
  </div>
