<% if current_user == @user %>
  <h1 class="user_welcome">Welcome <%= @user.name %>!</h1>
<% else %>
  <h1 class="user_header"><%= @user.name %>'s page</h1>
<% end %>

<div class="user_profile">
  <p class="edit_link"><%= link_to "EDIT", "/users/#{@user.id}/edit" %></p>
  <div class="user_info">
    <p>User: <div class="display"><%= @user.name %></div></p>
    <p>Email: <div class="display"><%= @user.email %></div></p>
    <p>Address: <div class="display"><%= @user.address %></div></p>
  </div>
</div>

<div class="events_title">
  <h4><%= @user.name %>'s Events:</h4>
</div>

<div class="user_calendar">
  <div class="calendar_day_one">
  </div>
  <div class="calendar_day_two">
  </div>
  <div class="calendar_day_three">
  </div>
  <div class="calendar_day_four">
  </div>
  <div class="calendar_day_five">
  </div>
  <div class="calendar_day_six">
  </div>
  <div class="calendar_day_seven">
  </div>
    <bold><%= @weekly_event_list %></bold>
</div>

<div style="text-align: left;">
  <% if logged_in? %>
    Currently logged in as: <%= current_user.email %> |
    <% if current_user.has_linked_google? %>
      Account linked with Google!
      <!-- <%= link_to 'Unlink your Google account', delete_oauth_path('google'), method: :delete %> -->
    <% else %>
      <%= link_to 'Link your Google', auth_at_provider_path(:provider => :google) %>
    <% end %>
      <!-- <%= link_to 'Logout', :logout %> -->
  <% end %>
</div>
