<% if current_user == @user %>
  <h3 class="user_welcome">Welcome <%= @user.name %>!</h3>
<% else %>
  <h3 class="user_header"><%= @user.name %>'s page</h3>
<% end %>
</br>

<!-- Materialize Card Layout -->
<!-- Card 1 Profile -->
<div class="container">
  <div class="row">
    <div class="col m6 s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <i class="medium material-icons">perm_identity</i></br>
          <span class="card-title">Trainer Profile</span>
            <div class="user_profile">
              <div class="user_info">
                <p>User name: <div class="display"><%= @user.name %></div></p>
                <p>Email address: <div class="display"><%= @user.email %></div></p>
                <p>Street address: <div class="display"><%= @user.address %></div></p></br>
              </div>
            </div>
          <div class="card-action">
          <% if current_user == @user %>
            <p class="edit_link"><%= link_to "Edit your profile", "/users/#{@user.id}/edit" %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <!-- Card 2 Bio-->
    <div class="col m6 s12">
      <div class="card orange darker-1">
        <div class="card-content white-text">
          <i class="medium material-icons">description</i></br>
          <span class="card-title">Practice Area</span>
            <div class="title">Aerobic Fitness: Aerobic exercise uses large muscle groups and increases your heart rate. Try walking, jogging, biking, swimming, dancing, water aerobics. </div></br>
            <div class="title">Strength Training: Your own body weight counts, too. Try pushups, abdominal crunches and leg squats.</div></br>
            <div class="title">Core Exercises: Your core muscles — help protect your back and connect upper and lower body movements.</div></br>
        </div>
      </div>
    </div>
  </div>
</div></br>
<div class="divider"></div>
<% if current_user != @user %>
  <h4>Available Times:</h4></br>
  <div class="row">
    <div class="col s2 m3 l2">
      <div class="weekly_day_one">
        <a class="waves-effect waves-blue-grey blue-grey lighten-1 btn"><%= @user.availabilities.last.next_six_days[0] %></a></br>
        <div class="time_slot">
        <% if @user.availabilities.last.day_1[0] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[0] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[0]}", "/users/#{@user.id}/d_1_t_1" %></br>
        <% end %>
        <% if @user.availabilities.last.day_1[1] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[1] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[1]}", "/users/#{@user.id}/d_1_t_2" %></br>
        <% end %>
        <% if @user.availabilities.last.day_1[2] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[2] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[2]}", "/users/#{@user.id}/d_1_t_3" %></br>
        <% end %>
        <% if @user.availabilities.last.day_1[3] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[3] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[3]}", "/users/#{@user.id}/d_1_t_4" %></br>
        <% end %>
        <% if @user.availabilities.last.day_1[4] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[4] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[4]}", "/users/#{@user.id}/d_1_t_5" %></br>
        <% end %>
        <% if @user.availabilities.last.day_1[5] == "Unavailable" %>
          <%= @user.availabilities.last.day_1[5] %></br>
        <% else %>
          <%= link_to "#{@user.availabilities.last.day_1[5]}", "/users/#{@user.id}/d_1_t_6" %></br>
        <% end %>
        </div>
      </div>
    </div>
  <div class="col s3 m3 l2">
    <div class="weekly_day_two">
      <a class="waves-effect waves-blue-grey blue-grey lighten-2 btn"><%= @user.availabilities.last.next_six_days[1] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_2[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[0]}", "/users/#{@user.id}/d_2_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_2[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[1]}", "/users/#{@user.id}/d_2_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_2[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[2]}", "/users/#{@user.id}/d_2_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_2[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[3]}", "/users/#{@user.id}/d_2_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_2[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[4]}", "/users/#{@user.id}/d_2_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_2[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_2[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_2[5]}", "/users/#{@user.id}/d_2_t_6" %></br>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col s2 m3 l2">
    <div class="weekly_day_three">
      <a class="waves-effect waves-blue-grey blue-grey lighten-1 btn"><%= @user.availabilities.last.next_six_days[2] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_3[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[0]}", "/users/#{@user.id}/d_3_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_3[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[1]}", "/users/#{@user.id}/d_3_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_3[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[2]}", "/users/#{@user.id}/d_3_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_3[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[3]}", "/users/#{@user.id}/d_3_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_3[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[4]}", "/users/#{@user.id}/d_3_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_3[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_3[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_3[5]}", "/users/#{@user.id}/d_3_t_6" %></br>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col s2 m3 l2">
    <div class="weekly_day_four">
      <a class="waves-effect waves-blue-grey blue-grey lighten-2 btn"><%= @user.availabilities.last.next_six_days[3] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_4[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[0]}", "/users/#{@user.id}/d_4_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_4[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[1]}", "/users/#{@user.id}/d_4_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_4[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[2]}", "/users/#{@user.id}/d_4_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_4[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[3]}", "/users/#{@user.id}/d_4_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_4[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[4]}", "/users/#{@user.id}/d_4_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_4[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_4[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_4[5]}", "/users/#{@user.id}/d_4_t_6" %></br>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col s2 m3 l2">
    <div class="weekly_day_five">
      <a class="waves-effect waves-blue-grey blue-grey lighten-1 btn"><%= @user.availabilities.last.next_six_days[4] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_5[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[0]}", "/users/#{@user.id}/d_5_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_5[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[1]}", "/users/#{@user.id}/d_5_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_5[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[2]}", "/users/#{@user.id}/d_5_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_5[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[3]}", "/users/#{@user.id}/d_5_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_5[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[4]}", "/users/#{@user.id}/d_5_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_5[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_5[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_5[5]}", "/users/#{@user.id}/d_5_t_6" %></br>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col s2 m3 l2">
    <div class="weekly_day_six">
      <a class="waves-effect waves-blue-grey blue-grey lighten-2 btn"><%= @user.availabilities.last.next_six_days[5] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_6[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[0]}", "/users/#{@user.id}/d_6_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_6[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[1]}", "/users/#{@user.id}/d_6_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_6[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[2]}", "/users/#{@user.id}/d_6_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_6[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[3]}", "/users/#{@user.id}/d_6_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_6[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[4]}", "/users/#{@user.id}/d_6_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_6[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_6[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_6[5]}", "/users/#{@user.id}/d_6_t_6" %></br>
      <% end %>
      </div>
    </div>
  </div></br>
  <div class="col s2 m3 l2">
    <div class="weekly_day_seven">
      <a class="waves-effect waves-blue-grey blue-grey lighten-1 btn"><%= @user.availabilities.last.next_six_days[6] %></a></br>
      <div class="time_slot">
      <% if @user.availabilities.last.day_7[0] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[0] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[0]}", "/users/#{@user.id}/d_7_t_1" %></br>
      <% end %>
      <% if @user.availabilities.last.day_7[1] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[1] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[1]}", "/users/#{@user.id}/d_7_t_2" %></br>
      <% end %>
      <% if @user.availabilities.last.day_7[2] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[2] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[2]}", "/users/#{@user.id}/d_7_t_3" %></br>
      <% end %>
      <% if @user.availabilities.last.day_7[3] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[3] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[3]}", "/users/#{@user.id}/d_7_t_4" %></br>
      <% end %>
      <% if @user.availabilities.last.day_7[4] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[4] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[4]}", "/users/#{@user.id}/d_7_t_5" %></br>
      <% end %>
      <% if @user.availabilities.last.day_7[5] == "Unavailable" %>
        <%= @user.availabilities.last.day_7[5] %></br>
      <% else %>
        <%= link_to "#{@user.availabilities.last.day_7[5]}", "/users/#{@user.id}/d_7_t_6" %></br>
      <% end %></div>
     </div>
    </div>
  </div>
<% else %>
  <h4> Your upcoming training events: </h4>
  <% if @user.trainer == true %>
    <% @user.trainer_appointments.each do |e| %>
      <% if Time.at(e.event_end_time) < Time.now %>
        <% e.destroy %>
      <% else %>
      <ul>
        <%= e.summary %>:
        <%= Time.at(e.event_start_time).strftime("%A %d/%m/%Y %T") %> to
        <%= Time.at(e.event_end_time).strftime("%A %d/%m/%Y %T") %>
      <% end %>
      </ul>
    <% end %>
    <%= form_for @user do |f| %>
      <ul>
      <%= f.fields_for :trainer_appointments do |app_form| %>
        <%= app_form.check_box :_destroy %>
        <%= app_form.label :_destroy, "Delete Event" %>
        <%= app_form.submit :Confirm %>
        </br>
      <% end %>
      </ul>
    <% end %>
  <% else %>
    <% @user.trainee_appointments.each do |e| %>
      <% if Time.at(e.event_end_time) < Time.now %>
        <% e.destroy %>
      <% else %>
      <ul>
        <%= e.summary %>:
        <%= Time.at(e.event_start_time).strftime("%A %d/%m/%Y %T") %> to
        <%= Time.at(e.event_end_time).strftime("%A %d/%m/%Y %T") %>
      <% end %>
      </ul>
    <% end %>
    <%= form_for @user do |f| %>
      <ul>
      <%= f.fields_for :trainee_appointments do |app_form| %>
        <%= app_form.check_box :_destroy %>
        <%= app_form.label :_destroy, "Delete Event" %>
        <%= app_form.submit :Confirm %></br>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
<% if @user.trainer_appointments == [] && @user.trainee_appointments == []%>
  <h5>Currently no events!</h5>
<% end %>
<div class="divider"></div></br>
<div style="text-align: center;">
<% if logged_in? %>
  Currently logged in as: <%= current_user.email %> | Account linked with Google!
<% end %>
</div>
