<% if current_user == @user %>
  <h3 class="user_welcome">Welcome <%= @user.name %>!</h3>
<% else %>
  <h3 class="user_header"><%= @user.name %>'s page</h3>
<% end %></br>

<!-- TRAINER CARDS VS. TRAINEE CARDS -->
<% if @user.trainer == true %>
 <%= render 'trainer_cards' %>
<% else %>
 <%= render 'trainee_cards'%>
<% end %>

<div class="divider"></div>
<!-- PUBLIC PROFILE -->
<% if current_user != @user %>
  <%= render 'public_availability_view' %>
<% else %>
<!-- PRIVATE PROFILE -->
  <%= render 'private_appointments_view' %>
<% end %>
</div>

<div class="divider"></div></br>

<div style="text-align: center;">
<% if logged_in? %>
  Currently logged in as: <%= current_user.email %> | Account linked with Google!
<% end %>
</div>
