<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_4[0] %>
    <%= @daily_availability_4[1] %>
    <%= @daily_availability_4[2] %>
    <%= @daily_availability_4[3] %>
    <%= @daily_availability_4[4] %>
  </body>
</html>
