<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_1[0] %>
    <%= @daily_availability_1[1] %>
    <%= @daily_availability_1[2] %>
    <%= @daily_availability_1[3] %>
    <%= @daily_availability_1[4] %>
  </body>
</html>
