<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_6[0] %>
    <%= @daily_availability_6[1] %>
    <%= @daily_availability_6[2] %>
    <%= @daily_availability_6[3] %>
    <%= @daily_availability_6[4] %>
  </body>
</html>
