<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_5[0] %>
    <%= @daily_availability_5[1] %>
    <%= @daily_availability_5[2] %>
    <%= @daily_availability_5[3] %>
    <%= @daily_availability_5[4] %>
  </body>
</html>
