<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_3[0] %>
    <%= @daily_availability_3[1] %>
    <%= @daily_availability_3[2] %>
    <%= @daily_availability_3[3] %>
    <%= @daily_availability_3[4] %>
  </body>
</html>
