<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_7[0] %>
    <%= @daily_availability_7[1] %>
    <%= @daily_availability_7[2] %>
    <%= @daily_availability_7[3] %>
    <%= @daily_availability_7[4] %>
  </body>
</html>
