<!DOCTYPE html>
<html>
  <body>
    <%= @daily_availability_2[0] %>
    <%= @daily_availability_2[1] %>
    <%= @daily_availability_2[2] %>
    <%= @daily_availability_2[3] %>
    <%= @daily_availability_2[4] %>
  </body>
</html>
