<!DOCTYPE html>
<html>

  <body>
    <%= @appointment.summary %></br>
    <%= @appointment.event_invitation_status %></br>
    <%= @appointment.event_start_time %></br>
    <%= @appointment.event_end_time %></br>
    <%= @appointment.address %></br>
  </body>
</html>
