<!DOCTYPE html>
<html>
  <body>
    <!-- Search Boxing -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "boxing" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Cardio -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "cardio" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Crossfit -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "crossfit" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Kickboxing -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "Kickboxing" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Running -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "running" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Squash -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "squash" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Weightlifting -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "weightlifting" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- Search Yoga -->
    <div class="trainer_list">
      <% @user.each do |t|%>
        <% if t.category != nil %>
          <% t.category.attributes.each do |key, value| %>
            <% if value == true && key == "yoga" %>
              <h4><%= link_to "#{t.name}", "/users/#{t.id}" %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
