<div style="text-align: right;">
  <% if logged_in? %>
    Currently logged in as: <%= current_user.email %> |
    <% if current_user.has_linked_google? %>
      <%= link_to 'Unlink your Google account', delete_oauth_path('google'), method: :delete %>
    <% else %>
      <%= link_to 'Link your Google account', auth_at_provider_path(:provider => :google) %>
    <% end %> |
    <%= link_to 'Logout', root_path %>
  <% else %>
    <%= link_to 'Login', root_path %> |
    <%= link_to 'Login using Google', auth_at_provider_path(provider: :google) %>
  <% end %>
</div>
