<div class="weekly_calendar">
  <div class="weekly_day_one">
    <%= @availability.day_1[0] %>
    <%= @availability.day_1[1] %>
    <%= @availability.day_1[2] %>
    <%= @availability.day_1[3] %>
    <%= @availability.day_1[4] %>
  </div><br>
  <div class="weekly_day_two">
    <%= @availability.day_2[0] %>
    <%= @availability.day_2[1] %>
    <%= @availability.day_2[2] %>
    <%= @availability.day_2[3] %>
    <%= @availability.day_2[4] %>
  </div>
  <div class="weekly_day_three">
    <%= @availability.day_3[0] %>
    <%= @availability.day_3[1] %>
    <%= @availability.day_3[2] %>
    <%= @availability.day_3[3] %>
    <%= @availability.day_3[4] %>
  </div>
  <div class="weekly_day_four">
    <%= @availability.day_4[0] %>
    <%= @availability.day_4[1] %>
    <%= @availability.day_4[2] %>
    <%= @availability.day_4[3] %>
    <%= @availability.day_4[4] %>
  </div>
  <div class="weekly_day_five">
    <%= @availability.day_5[0] %>
    <%= @availability.day_5[1] %>
    <%= @availability.day_5[2] %>
    <%= @availability.day_5[3] %>
    <%= @availability.day_5[4] %>
  </div>
  <div class="weekly_day_six">
    <%= @availability.day_6[0] %>
    <%= @availability.day_6[1] %>
    <%= @availability.day_6[2] %>
    <%= @availability.day_6[3] %>
    <%= @availability.day_6[4] %>
  </div>
  <div class="weekly_day_seven">
    <%= @availability.day_7[0] %>
    <%= @availability.day_7[1] %>
    <%= @availability.day_7[2] %>
    <%= @availability.day_7[3] %>
    <%= @availability.day_7[4] %>
  </div>
</div>
