<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_6[0] %>
    <%= @availability.day_6[1] %>
    <%= @availability.day_6[2] %>
    <%= @availability.day_6[3] %>
    <%= @availability.day_6[4] %>
  </body>
</html>
