<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_1[0] %>
    <%= @availability.day_1[1] %>
    <%= @availability.day_1[2] %>
    <%= @availability.day_1[3] %>
    <%= @availability.day_1[4] %>
  </body>
</html>
