<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_5[0] %>
    <%= @availability.day_5[1] %>
    <%= @availability.day_5[2] %>
    <%= @availability.day_5[3] %>
    <%= @availability.day_5[4] %>
  </body>
</html>
