<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_7[0] %>
    <%= @availability.day_7[1] %>
    <%= @availability.day_7[2] %>
    <%= @availability.day_7[3] %>
    <%= @availability.day_7[4] %>
  </body>
</html>
