<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_2[0] %>
    <%= @availability.day_2[1] %>
    <%= @availability.day_2[2] %>
    <%= @availability.day_2[3] %>
    <%= @availability.day_2[4] %>
  </body>
</html>
