<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_3[0] %>
    <%= @availability.day_3[1] %>
    <%= @availability.day_3[2] %>
    <%= @availability.day_3[3] %>
    <%= @availability.day_3[4] %>
  </body>
</html>
