<!DOCTYPE html>
<html>
  <body>
    <%= @availability.day_4[0] %>
    <%= @availability.day_4[1] %>
    <%= @availability.day_4[2] %>
    <%= @availability.day_4[3] %>
    <%= @availability.day_4[4] %>
  </body>
</html>
