<!DOCTYPE html>
<html>
  <head>
    <title>Phyziq</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="site-header">
      <h1 class="logo">Phyziq</h1>

      <nav class="site-nav">
        <%= link_to "Home", users_url %> |
          <% if current_user %>
            <%= link_to "Profile", "/users/#{session[:user_id]}" %> |
            <%= link_to "Settings", "/users/#{session[:user_id]}/edit" %> |
            <%= link_to 'Logout', :logout %>
            <!-- <%= link_to 'Logout', delete_oauth_path('google'), method: :delete %> -->
          <% else %>
            <%= link_to "Login with Google", auth_at_provider_path(:provider => :google) %>
            <!-- <%= link_to "Sign Up", new_user_path %> | -->
            <!-- <%= link_to "Login", :login %> -->
          <% end %>
      </nav>
        <% if flash[:alert] %>
          <div class="alert"><%= flash[:alert] %></div>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
